
extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + " - "}

block header
  if page.metadata.draft
    p.draft-warning This article is a work in progress and is likely full of glaring issues, spelling mistakes, and other shenanigans.  Proceed at your own peril!
  div.page-header
    h1= page.title
      
block content
  article.article
    section.content!= typogr(page.html).typogrify()
